{% extends "base.html.twig" %}
{% block title %}
Toutes les Catégories
{% endblock %}
{% block body %}
<div class="container">
    <div class="row my-3">
        <div class="col">
            <h2>{{ 'allCategories'|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for category in categories %}
            <div class="row">
                <div class="col">
                    <h3>{{loop.index}} / {{ category.name }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-3 ms-3">
                    <a class="btn btn-secondary" href="{{ path('category_show', {name : category.name} )}}"><svg
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-search me-2 mb-1" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>{{ 'details'|trans }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <br><a class="btn btn-primary" href="{{ path('category_new') }}">{{ 'addCategory'|trans }}</a>
</div>

{% endblock %}