{% extends "base.html.twig" %}
{% block title %}
{{ 'newCategory'|trans }}
{% endblock %}
{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button>{{ 'add'|trans }}</button>
{{ form_end(form) }}
{% endblock %}