{% extends "base.html.twig" %}
{% block title %}
Catégorie - {{ category }}
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('program_index')}}
{% endblock %}
{% block body %}
{% if programs %}
{% for program in programs %}
{% include "Programs/_programCard.html.twig" %}
{% endfor %}
{% else %}
    <p>{{ 'noCategory'|trans }}</p>
{% endif %}


<a class="btn btn-primary my-3" href="{{ path('category_index') }}">{{ 'back'|trans }}</a>
{% endblock %}