{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'editEpisode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'editEpisode' }}</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('episode_index') }}">{{ 'back'|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
