{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'addEpisode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'addEpisode'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('episode_index') }}">{{ 'back'|trans }}</a>
{% endblock %}
