{% extends 'base.html.twig' %}

{% block title %}{{parent()}} {{ 'season'|trans }} index{% endblock %}

{% block body %}
    <h1>{{ 'season'|trans }} index</h1>
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <th>{{ 'year'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('season_show', {'id': season.id}) }}">{{ 'details'|trans }}</a>
                    <a class="btn btn-secondary" href="{{ path('season_edit', {'id': season.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'noSeason'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('season_new') }}">{{ 'add'|trans }}</a>
{% endblock %}
