{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'newSeason'|trans }} {% endblock %}

{% block body %}
    <h1>{{ 'newSeason'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('season_index') }}">{{ 'back'|trans }}</a>
{% endblock %}
