{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - {{ program.title }} - edit{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary">{{ 'edit'|trans }}</button>
{{ form_end(form) }}
<a href="{{ path('program_show', {slug: program.slug}) }}" class="btn btn-primary">{{ 'back'|trans }}</a>
{% endblock %}