{% extends "base.html.twig" %}
{% block title %}
{{ episode.season.program.title }} - S{{ episode.season.number }} - E{{ episode.number }}
{% endblock %}
{% block body %}
<main class="container">
    <h2><span class="fst-italic">{{ episode.season.program.title }}</span></h2>
    <h3>{% trans with {
        '%seasonNumber%': episode.season.number,
        '%episodeNumber%': episode.number,
        '%episodeTitle%' : episode.title
        } 
        %} episode_of {%endtrans %}</h3>
    <h4>{{ 'summary'|trans }} :</h4>
    <p>{{ episode.synopsis }}</p>
    <br>
    <div class="row mb-4">
        <div class="col-2">
            <a class="btn btn-primary" href="{{ path('program_season_show', 
            {
                programSlug: episode.season.program.slug,
                season: episode.season.id
            })
            }}">{{ 'back'|trans }}</a>
        </div>
    </div>
    <h4>{{ 'comments'|trans }} :</h4>
    <div class="row my-3">
        <div class="col-5">
            {% if app.user %}
            <h5>{{ 'addComment'|trans }}</h5>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-secondary">Ajouter</button>
            {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% for comment in episode.comments|reverse %}
            <div class="card my-3">
                <div class="card-header">
                    {{ comment.user.pseudo }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text rate fs-6">{{ 'rate'|trans }} : {{ comment.rate }}</p>
                            <p class="card-text p-card">{{ comment.comment }}</p>
                        </div>
                        {% if is_granted('ROLE_ADMIN') or comment.user == app.user %}
                        <div class="col-3 d-flex justify-content-end align-items-end">
                            {% include "comment/_delete_form.html.twig" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}