{% extends "base.html.twig" %}
{% block title %}
{{ parent() }} - {{ 'newProgram'|trans }}
{% endblock %}
{% block body %}
<main class="container">
    <div class="form my-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-1">
                <button class="btn btn-success">{{ 'add'|trans }}</button>
            </div>
            <div class="col-1">
                <a class="btn btn-secondary" href="{{ path('program_index') }}">{{ 'back'|trans }}</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}