{% extends "base.html.twig" %}
{% block title %}
{{ season.program.title }} - Saison {{ season.number }}
{% endblock %}
{% block body %}
<h2>Saison {{ season.number }} de <span class="fst-italic">"{{ season.program.title }}"</span></h2>
<p>Année de publication : {{ season.year }}</p>
<p>Description : {{ season.description }}</p>
<h3>Liste des episodes :</h3>
<ul>
    {% for episode in season.episodes %}
    <li><a href="{{ path('program_episode_show', 
        {
            programSlug: season.program.slug,
            season: season.id,
            episodeSlug: episode.slug
        }) 
    }}">Episode {{ episode.number }} : <span class="fst-italic">{{ episode.title }}</span></a></li>
    {% endfor %}
</ul>

<a href="{{ path('program_show', {slug: season.program.slug}) }}">{{ season.program.title }}</a>
{% endblock %}