{% extends "base.html.twig" %}
{% block title %}
{{ season.program.title }} - Saison {{ season.id }}
{% endblock %}
{% block body %}
<h2>Saison {{ season.id }} de <span class="fst-italic">"{{ season.program.title }}"</span></h2>
<p>Année de publication : {{ season.year }}</p>
<p>Description : {{ season.description }}</p>
<h3>Liste des episodes :</h3>
<ul>
    {% for episode in season.episodes %}
    <li><a href="">Episode {{ episode.id }} : <span class="fst-italic">{{ episode.title }}</span></a></li>
    {% endfor %}
</ul>

<a href="{{ path('program_show', {id: season.program.id}) }}">Retour aux programme</a>
{% endblock %}