{% extends "index.html.twig" %}
{% block title %}
Série #{{ program.id }}
{% endblock %}
{% block body %}
<div class="media">
    <img src="{{ program.poster }}" alt="{{ program.title }} poster" class="align-self-start mr-3">
    <div class="media-body">
        <h2 class="mt-2">{{ program.title }}</h2>
        <p>{{ program.summary }}</p>
        <p>Catégorie : {{ program.category.name }}</p>
    </div>
</div>
<h3>Saisons</h3>
{% for season in program.seasons %}
    <a href="{{ path('program_season_show', {programId: program.id, seasonId: season.id} )}}">{{ season.id }}</a>
{% endfor %}
<br>
<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
{% endblock %}